asgiref 
certifi==2024.2.2
charset-normalizer==3.3.2
Django 
django-environ==0.11.2
django-extensions==3.2.3
djangorestframework==3.14.0
idna==3.6
psycopg2==2.9.9
pytz==2024.1
requests==2.31.0
setuptools==68.2.2
sqlparse 
urllib3==2.2.1
wheel==0.41.2
django-imagekit
