{% extends "articles/base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/article_search.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


{% endblock %}


{% block content %}
    <h2>Search Results</h2>
    {% if articles %}
            {% for article in articles %}
 <div class="article">
                    <a href="{{ article.get_absolute_url }}">
                    {% if article.main_image %}
                    <img class="thumb_nail hidden-xs hidden-sm img-responsive"  src="{{ article.main_image}}">
                    {% else %}
                     <img class="thumb_nail hidden-xs hidden-sm img-responsive"  src="static\css\Untitled.jpeg"> 
                    {% endif %}
                        <p>{{ article.get_title }}</p>
                    </a>
                    <div class="author_block ">
                        <p>{% trans "Created by" %}: {{ article.created_by.username }}</p>
                        <p>{% trans "Contributers" %}:  {% for contributor in article.get_contributors %}
                             {{ contributor.username }}
                            {% endfor %}</p>
                    </div>
                    <div class="extras">
                        <img class="sub_logo" src="/static/icons/codecreole.jpg">
                        <div class="extras-sub">
                            <p class="name"></p>
                            <div class="flex_div">   
                                <p class="time_to_read"> {% trans "time_to_read" %} {{article.time_to_read}} {% trans "minutes" %}</p>
                                <p class="date">{{ article.created_at }}</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            {% endfor %}

    {% else %}
        <p>No articles found.</p>
    {% endif %}
{% endblock %}