{% extends 'articles/base.html' %}
{% load static %}
{% load i18n %}
{% block header %}
    {% block title %}<title> Reading: {{ article.get_title }}</title> {% endblock %}
    <link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}

{% block content %}
{% include 'articles/messages.html' %}
        <div class="content">


    
            <main>
            {% if current_language == "ht" %}
            <img class="water_mark" src="/static/icons/Flag_of_Haiti.svg.png" alt="haiti-flag">
            {% else %}
            <img class="water_mark" src="/static/icons/usa_flag.png" alt="usa-flag">
            {% endif %}
                
                <article>


                    <div class="title_block  col-xs col-sm col-md col-lg">
                        <h1 class="title"> {{ article.get_title }}</h1>
                        <div class="publishers_block">
                            {% if article.main_image %}
                            <img class="logo img-responsive" src="{{ article.main_image.url }}" alt="Publisher Logo">
                            {% else %}
                            <img class="logo img-responsive" src="/static/css/code_creole_log.png" alt="Publisher Logo">
                            {% endif %}
                            <p> {% trans "Published in" %}: {{ article.category.get_category_name }}</p>
                            <p> {% trans "Published by" %}: {{ article.created_by }}</p>
                            <p> {% trans "Contributers" %}:  {% for contributor in article.get_contributors %}
                             {{ contributor.username }}
                            {% endfor %}</p>
                            <p>{% trans "time_to_read" %} {{article.time_to_read}} {% trans "minutes" %}</p>
                            <p>{{ article.created_at }}</p>

                        </div>
                    </div>
    
                    <section class="stats font_white ">
                        <div class="comment">
                            <button onclick="scrollToComments()" class="like-button" > <!-- Using the same class name to keep things  dry -->
                                <i class="fas fa-comment"></i> Comment
                            </button>
                            <p id="commentCount">0</p> Comments
                        </div>
                        
                     <div class="like">
                    {%  if not user_likes_article %}
                    <form action="{% url 'like_article' article.pk  %}" method="POST"> {% csrf_token %} <button class="like-button" type="submit"> <i class="fas fa-thumbs-up"></i> </button> </form>
                    {% else %}

        
          <form action="{% url 'unlike_article' article.pk  %}" method="POST"> {% csrf_token %} <button class="like-button" type="submit"> <i class="fas fa-thumbs-up"></i> </button> </form>
        {% endif %} 
        
                            <span id="likeCount">{{article.like_count}}</span> Likes
                        </div>

                        <button>Save</button>
                    </section>
    
                    <div class="article_content">

                       

                        
                        <p class="font_white">{{ formatted_content|safe }}</p>

                        
                    </div>

                  
                </article>
            </main>
    
            <div class="container">
                <div class="row">
                    <div  id="commentSection" class="col">
                        <h4 class="font_white">Comments</h4>
                        <div class="comment_create_div">
                            <form action="">
                                <div class="input-field">
                                    <textarea id="textarea1" class="enter_comment" placeholder="Type your comment here"></textarea>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Post Comment</button>
                            </form>
                        </div>
            
                        <div class="user_comments">
                            <!-- Repeat this block for each comment -->
                            <div class="w3-card w3-light-blue">
                                <div class="commenter">
                                    <img class="user_image" src="/static/icons/istockphoto-1495088043-612x612.png" alt="profile_pic">
                                    <p>Code Creole User</p>
                                </div>
                                <p class="font_white text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus exercitationem laborum, autem expedita explicabo reprehenderit similique esse excepturi, corrupti aspernatur officiis voluptatibus?</p>

                                    
                                    <footer class="w3-container w3-blue-grey">
                                        <p class=" font_white date">01/07/24</p>
                                    </footer>    
                            </div>

                            <div class="w3-card w3-light-blue">
                                <div class="commenter">
                                    <img class="user_image" src="/static/icons/istockphoto-1495088043-612x612.png" alt="profile_pic">
                                    <p>Code Creole User</p>
                                </div>
                                <p class="font_white text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus exercitationem laborum, autem expedita explicabo reprehenderit similique esse excepturi, corrupti aspernatur officiis voluptatibus?</p>

                                    
                                    <footer class="w3-container w3-blue-grey">
                                        <p class=" font_white date">01/07/24</p>
                                    </footer>    
                            </div>

                            <div class="w3-card w3-light-blue">
                                <div class="commenter">
                                    <img class="user_image" src="/static/icons/istockphoto-1495088043-612x612.png" alt="profile_pic">
                                    <p>Code Creole User</p>
                                </div>
                                <p class="font_white text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus exercitationem laborum, autem expedita explicabo reprehenderit similique esse excepturi, corrupti aspernatur officiis voluptatibus?</p>

                                    
                                    <footer class="w3-container w3-blue-grey">
                                        <p class=" font_white date">01/07/24</p>
                                    </footer>    
                            </div>

                            <div class="w3-card w3-light-blue">
                                <div class="commenter">
                                    <img class="user_image" src="/static/icons/istockphoto-1495088043-612x612.png" alt="profile_pic">
                                    <p>Code Creole User</p>
                                </div>
                                <p class="font_white text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus exercitationem laborum, autem expedita explicabo reprehenderit similique esse excepturi, corrupti aspernatur officiis voluptatibus?</p>

                                    
                                    <footer class="w3-container w3-blue-grey">
                                        <p class=" font_white date">01/07/24</p>
                                    </footer>    
                            </div>
                            <!-- End comment block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %} 
{% block script %}
<script src="{% static 'js\article_detail.js'%}"></script>
{% endblock %}