{% extends 'articles/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Creole home</title>
     <link rel="stylesheet" href="{% static 'css/home.css' %}">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


{% endblock %}

{% block content %}
{% include 'articles/messages.html' %}
        <div class="container mt-5">
        <div class="grid_container">
            {% for article in articles %}
                <div class="card article_ shadow-lg mb-4 bg-body rounded">
                    <div class="position-relative">
                        <a href="{{ article.get_absolute_url }}" class="text-decoration-none">
                            {% if article.main_image %}
                            <img src="{{ article.thumbnail.url }}" class="card-img-top">
                            {% else %}
                            <img src="{% static 'css/Untitled.jpeg' %}" class="card-img-top">
                            {% endif %}
                            <div class="card-img-overlay d-flex align-items-end p-0">
                                <h5 class="card-title text-white w-100 text-center py-3" style="background: rgba(0, 0, 0, 0.5);">
                                    {{ article.get_title }}
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>{% trans "Created by" %}:</strong> {{ article.created_by.username }}
                        </p>
                        <p class="card-text">
                            <strong>{% trans "Contributors" %}:</strong>
                            {% for contributor in article.get_contributors %}
                            {{ contributor.username }}
                            {% endfor %}
                        </p>
                        <div class="d-flex justify-content-between mt-3">
                            <span class="badge bg-primary">{% trans "Time to read:" %} {{ article.time_to_read }} {% trans "minutes" %}</span>
                            <span class="badge bg-secondary">{{ article.created_at|date:"Y-m-d" }}</span>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </div> <!--- end grid container--> 
        </div><!----container mt-5-->
                   

 {% endblock %}
