{% extends 'articles/base.html'%}
{% load static %}
{% load i18n %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
{% endblock %}
{% block content %}
    {% include 'articles/messages.html' %}
    <div class="signup-form">
        <h2>Sign Up</h2>
        <form action="{% url 'sign_up' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">{% trans 'Sign Up' %}</button>
        </form>
    </div>
{% endblock %}