:root {
    --text-50: rgb(235, 233, 252);
    --primary-500: rgb(49, 41, 214);
    --background-50: rgb(235, 235, 250);
    --accent-400: rgb(58, 51, 255);
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-50);
    color: var(--text-50);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-form {
    background-color: var(--primary-500);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
h2 {
   
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent-400);
    color: white;
    
