*::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensures the full height can be used for layout calculations */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #060c0f;
}

body > * {
    flex-shrink: 0; /* Prevent navbar and footer from shrinking */
}

.content {
    flex-grow: 1; /* Allow content area to take up any remaining space */
    display: flex; /* Enables flexbox properties for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px; /* Add padding around the content for spacing */
    height: 100vh;
    width: 100vw;
}

.signup-form {
    width: 100vw; /* Full width of the content area */
    max-width: 400px; /* Maximum width of the form */
    padding: 20px; /* Padding inside the form */
    background-color: #b0bec5;; /* Primary color background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 85%;
    padding: 10px; /* Comfortable padding inside inputs */
    margin-bottom: 15px; /* Space between form fields */
    border: 1px solid #ccc; /* Subtle border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
}

button {
    width: 100%; /* Full width button */
    padding: 10px; /* Comfortable padding inside button */
    background-color: var(--accent-400); /* Accent color background */
    color: white; /* White text on accent background */
    border: none; /* No border for button */
    border-radius: 4px; /* Rounded corners for button */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .signup-form {
        padding: 10px; /* Less padding on smaller screens */
        max-width: 100%; /* Allow form to take full width on small devices */
    }

    .content {
        padding: 10px; /* Less padding around the content area on smaller screens */
    }
}

